# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52833_QIAA=y
CONFIG_BOARD_MWAVE_33=y

# Pin Configuration
CONFIG_GPIO=y
CONFIG_SPI=y
CONFIG_PINCTRL=y

# BT configuration
CONFIG_ZMK_BLE=y
CONFIG_ZMK_BLE_EXPERIMENTAL_CONN=y
CONFIG_BT_CTLR_TX_PWR_PLUS_8=y
CONFIG_BT_DIS_MANUF="Kinesis Corporation"
CONFIG_BT_DIS_PNP_VID=0x29EA
CONFIG_BT_DIS_PNP_PID=0x1001
CONFIG_BT_MAX_CONN=2
CONFIG_BT_MAX_PAIRED=2

# USB configuration
CONFIG_ZMK_USB=y
CONFIG_USB_DEVICE_VID=0x29EA
CONFIG_USB_DEVICE_PID=0x1001
CONFIG_USB_DEVICE_MANUFACTURER="Kinesis Corporation"


# Flash configuration
CONFIG_ARM_MPU=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

# Enable 32k xtal
CONFIG_CLOCK_CONTROL_NRF=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_150PPM=y

# Lighting configuration
CONFIG_PWM=y
CONFIG_LED_PWM=y
CONFIG_ZMK_BACKLIGHT=y
CONFIG_ZMK_BACKLIGHT_BRT_STEP=34
CONFIG_ZMK_STP_INDICATORS=y

CONFIG_ZMK_ENDPOINT_DISABLE_FALLBACK=y

CONFIG_ZMK_BEHAVIORS_QUEUE_SIZE=128

CONFIG_ZMK_POINTING=y


CONFIG_ZMK_KSCAN_DEBOUNCE_PRESS_MS=15
CONFIG_ZMK_KSCAN_DEBOUNCE_RELEASE_MS=15