# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52820_QDAA=y
CONFIG_BOARD_MWAVETEST_20=y

# Enable MPU
CONFIG_ARM_MPU=y

CONFIG_PINCTRL=y

# enable GPIO
CONFIG_GPIO=y
CONFIG_SPI=y

CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_HEX=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_CLOCK_CONTROL_NRF=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y

CONFIG_ZMK_BACKLIGHT=y
CONFIG_ZMK_STP_INDICATORS=y
CONFIG_ZMK_STP_INDICATORS_EXT_POWER=n

CONFIG_ZMK_COMBO_MAX_PRESSED_COMBOS=1
CONFIG_ZMK_BEHAVIORS_QUEUE_SIZE=16
CONFIG_ZMK_COMBO_MAX_COMBOS_PER_KEY=2
CONFIG_ZMK_COMBO_MAX_KEYS_PER_COMBO=2

CONFIG_ZMK_BEHAVIOR_MOUSE_KEY_PRESS=n
CONFIG_ZMK_BEHAVIOR_SENSOR_ROTATE_VAR=n
CONFIG_ZMK_BEHAVIOR_SENSOR_ROTATE=n
CONFIG_ZMK_PM_SOFT_OFF=n
CONFIG_ZMK_BEHAVIOR_SOFT_OFF=n
CONFIG_ZMK_BEHAVIOUR_KEY_TOGGLE=n


CONFIG_ZMK_USB=y
CONFIG_ZMK_BLE=y